body {
  background-color: black;
  
}

main {
  margin:auto;
  outline-style: solid;
}

img {
  float: left;
  text-align: left;
}

row {
  text-align: left;
}

type {
  width:200%;
  height:200%;
  margin: 50px;
  text-align: left;
}
