body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100vh; 
  margin: 0; 
}

.main {
  margin: auto;
  outline-style: solid;
  text-align: center; 
}

img {
  display: block; 
  margin: 0 auto; 
}

.row {
  text-align: center; 
}

.type {
  display: inline-block; 
  transition: transform 0.2s; 
}

.type:hover {
  filter: saturate(200%);
  transform: scale(1.1); /* Increase size on hover */
  cursor: pointer;
}
